
.videoWelcomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: .5;
}
.buttonsWelcomePage {
    font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(35,160,186, .5);
    border-color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease 0s;
    animation: fadein 2s;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 10px;
    border: 1px solid #096783;
    margin: 2% 1.5%;
}
.blockButtonsWelcome {
  text-align: center;
}
